* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0c0296 0%, #451c1c 100%);
}

.container-g >h1 {
    text-align: center;
    color: rgba(239, 237, 250, 0.868);
}


.container-g .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.container-g .img-container .img {
    width: 390px;
    height: 290px;
    border: 3px solid rgba(246, 246, 248, 0.532);
    overflow: hidden;
}

.container-g .img-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}

.container-g .img-container .img:hover img {
    transform: scale(1.1);
}

.container-g .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.container-g .pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgba(246, 246, 248, 0.532);
    border-radius: 8px;
    width: 600px;

}

/* размещение крестика в пр верх углу */
.container-g .pop-up span {
    position: fixed;
    top: 10px;
    right: 20px;
    width:45px;
    height: 45px;
    background: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;


}